<VirtualHost *:80>
        ServerName <%= @domain_name -%>

        ProxyTimeout 600
        ProxyPreserveHost On
        ProxyPass /<%= @app_context -%> ajp://localhost:<%= @app_port_ajp -%>/<%= @app_context %> retry=0 timeout=600
        ProxyPassReverse /<%= @app_context -%> ajp://localhost:<%= @app_port_ajp %>/<%= @app_context -%>

        Redirect 301 / /<%= @app_context -%>       
        
        ErrorLog ${APACHE_LOG_DIR}/<%= @domain_name -%>-error_log
        CustomLog ${APACHE_LOG_DIR}/<%= @domain_name -%>-access_log combined
</VirtualHost>