server {
  listen       80;
  root <%= @app_dir %>;
  index index.php;
  
  <% if @enable_ssl -%>
  listen	 443 ssl;
  ssl_certificate     /etc/ssl/<%= @app_name %>/certificate.crt;
  ssl_certificate_key /etc/ssl/<%= @app_name %>/certificate.key;
  ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
  <% end -%>
    
  server_name  <%= @domain_name %>;

  access_log  <%= node['nginx']['log_dir'] %>/<%= @app_name %>.access.log  main;
  error_log <%= node['nginx']['log_dir'] %>/<%= @app_name %>.error.log error;

  <% if @enable_ssl -%>
  if ($scheme = http) {
    return 302 https://$host$request_uri;
  }
  <% end -%>  
    
  # Redirect to index file if file does not exists
  location / {
      try_files $uri $uri/ /index.php?$args;
  }

  error_page 404 /404.html;
  error_page 500 502 503 504 /50x.html;

  location = /50x.html {
      root /usr/share/nginx/html;
  }

  # Process static files with nginx
  location ~ \.(js|css|png|jpg|gif|swf|ico|pdf|mov|fla|zip|rar)$ {
      try_files $uri =404;
  }

  # Process php files with php-fpm
  location ~ \.php$ {
      fastcgi_index index.php;
      include fastcgi_params;
      set $fsn /index.php;

      # Allow execution if file exists (bypass index file)
      if (-f $document_root$fastcgi_script_name){
          set $fsn $fastcgi_script_name;
      }

      fastcgi_param SCRIPT_FILENAME $document_root$fsn;
      fastcgi_pass unix:/var/run/<%= @app_name %>.sock;
  }

  # Deny access to all dot files/folders
  location ~ /\. {
      deny all;
  }
}