upstream <%= @app_name %> {
  server localhost:<%= @app_port %> max_fails=5 fail_timeout=30s;
}

server {
    listen       80;
    server_name  <%= @domain_name %>;

    access_log  <%= node['nginx']['log_dir'] %>/<%= @app_name %>.access.log  main;
    error_log <%= node['nginx']['log_dir'] %>/<%= @app_name %>.error.log error;

    location / {
        proxy_pass_header Server;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Scheme $scheme;
        proxy_pass http://<%= @app_name %>;
    }
}
