<?php
define("DB_HOST","<%= @database[:host]%>");
define("DB_PORT","<%= @database[:port]%>");
define("DB_DATABASE","<%= @database[:database]%>");
define("DB_USER","<%= @database[:username]%>");
define("DB_PASSWORD","<%= @database[:password]%>");

<% @variables.each do |key, value| %>
define("<%= key.upcase %>", "<%= value %>");
<% end %>