<?xml version="1.0" encoding="UTF-8"?>
<datasources spy="true">
    <local-tx-datasource>
        <jndi-name><%= @ds_name -%></jndi-name>
        
        <driver-class>oracle.jdbc.OracleDriver</driver-class>
        
        <connection-url><%= @ds_connection_url -%></connection-url>
        <user-name><%= @ds_username -%></user-name>
        <password><%= @ds_password -%></password>
        
        <min-pool-size>5</min-pool-size>
        <max-pool-size>30</max-pool-size>
        
        <idle-timeout-minutes>1</idle-timeout-minutes>
        <new-connection-sql>select 1 from dual</new-connection-sql>
        <check-valid-connection-sql>select 1 from dual</check-valid-connection-sql>
        
        <application-managed-security/>
        
        <metadata>
          <type-mapping>ORACLE</type-mapping>
        </metadata>
    </local-tx-datasource>
</datasources>
