<?php
return [
    'class' => 'yii\db\Connection',
    'dsn' => '<%= @adapter%>:host=<%= @host%>;port=<%= @port%>;dbname=<%= @db%>',
    'username' => '<%= @user%>',
    'password' => '<%= @password%>',
    'charset' => 'utf8',
    'emulatePrepare' => true,
];
